<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div class="container">
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>