<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {width: 500px; height: 500px;}
        td {width: max-content}
    </style>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <td th:text="${post.title}"></td>
            <th>Date</th>
            <td th:text="${post.date}"></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Content</th>
            <td th:text="${post.content}"></td>
            <td>
                <form method="post" action="/post/update">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <input type="submit" value="수정">
                </form>
                <form method="post" action="/post/list">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>