<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>new</title>
</head>
<body>
<form method="POST" action="/post/new">
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" id="title" name="title"/><br>
        <label for="content">내용</label>
        <input type="text" id="content" name="content"/><br>
        <input type="submit" value="글쓰기">
        <input type="button" value="취소" onclick="location.href='..'">
    </div>
</form>
</body>
</html>