<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new</title>
</head>
<body>
<form method="POST" action="/post/comple">
    <div class="form-group">
        <input type="hidden" id="id" name="id" th:value="${post.id}" />
        <label for="title">제목</label>
        <input type="text" id="title" name="title" th:value="${post.title}"/><br>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" th:value="${post.content}"/><br>
        <input type="submit" value="수정">
        <input type="button" value="취소" onclick="location.href='..'">
    </div>
</form>
</body>
</html>